In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [3]:
co = pd.read_csv("Costomer+OrderForm (1).csv")

In [4]:
co

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
co.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [6]:
co.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
co.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
co.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [10]:
observed=np.array([[271,267,269,280],[29,33,31,20]])
observed

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [11]:
chi2_contingency(observed)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

Here p value is 0.277 which is greater than significance value 0.5 Thus null hypothesis falls true

In [14]:
pval = 0.277
if pval<0.05:
    print("reject null hypothesis, accept alternative hypothesis")
else:
    print("accept null hypothesis, reject alternative hypothesis")

accept null hypothesis, reject alternative hypothesis